@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --body-bg-color: #D2B48C; /* Tan */
  --body-text-color: #502A0A; /* Dark Wood */
  --primary-bg-color: linear-gradient(45deg, #A0522D, #BC8F8F, #8B4513); /* SaddleBrown, RosyBrown, SaddleBrown */
  --secondary-bg-color: rgba(255, 255, 255, 0.8);
  --button-bg-color: #8B4513; /* SaddleBrown */
  --button-text-color: #fff;
  --button-hover-color: rgba(255, 255, 255, 0.2);
  --button-hover-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-color: #5555552e;
  --highlight-bg-color: rgba(245, 245, 245, 0.819);
  --highlight-shadow: inset 0px 0 20px rgba(0, 0, 0, 0.1);
  --aya-text-color: #333;
}

/* Body styles */
body {
  font-family: 'Amiri', serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--body-bg-color); /* Tan */
  color: var(--body-text-color); /* Dark Wood */
}

/* Background animation */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color); /* SaddleBrown, RosyBrown, SaddleBrown */
  background-size: 400% 400%; 
  animation: gradientAnimation 15s ease infinite;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#theme {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 50%;
  color: black;
}

/* Wrapper styles */
#wrapper {
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  border-radius: 1rem 1rem 1rem 0rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  min-width: 30%;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(10px);
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info {
  font-size: 2rem;
  font-weight: bold;
  color: #A0522D; /* SaddleBrown */
}

#copy, #translate {
  width: 40px;
  height: 40px;
  background-color: #8b451342;
  border-radius: 50%;
  border: none;  
}

/* Aya styles */
#aya {
  font-family: 'Amiri Quran', serif;
  font-size: 2rem;
  color: var(--aya-text-color);
}

.features {
  display: flex;
  gap: 1rem;
  background: #8b451310;
  border-radius: 20px;
}

.aya {
  overflow-y: scroll;
  max-height: 350px;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

#tafasir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: -20px;
  background: #8b451310;
  border-radius: 20px;
}

#tafasir > button {
  border: none;
  background-color: transparent;
  color: #BC8F8F; /* RosyBrown */
  font-family: 'amiri';
  font-size: 1.3rem;
  position: relative;
}

#tafsir {
  color: var(--aya-text-color);
  overflow-y: scroll;
  max-height: 200px;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

#tafsir:hover, .aya:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--highlight-bg-color);
  box-shadow: var(--highlight-shadow);
}

#tafsir::-webkit-scrollbar, .aya::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

#tafsir::-webkit-scrollbar-thumb, .aya::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

/* Button styles */
#butn {
  background-color: var(--button-bg-color); /* SaddleBrown */
  color: var(--button-text-color);
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-family: 'Amiri', serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#butn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--button-hover-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#butn:hover::before {
  width: 200%;
  height: 200%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#butn:hover {
  box-shadow: var(--button-hover-shadow);
  transform: translateY(-3px);
}

button {
  cursor: pointer;
}

#butn i {
  margin-right: 0.5rem;
}

#tafasir > button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#tafasir > button.active {
  color: #D09F58; /* RosyBrown */
  font-weight: bolder;
}

.clicks {
  display: flex;
  gap: 50px;
}

.next, .previous {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--body-text-color);
  transition: all 0.3ms ease-in-out;
}

.next:hover, .previous:hover {
  transform: scale(1.1);
  transition: all 0.3ms ease-in-out;
}

.nextayah {
  position: absolute;
  width: 30%;
  left: 0px;
  bottom: -59px;
  background-color: var(--secondary-bg-color);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#nextayah {
  filter: blur(4px);
  font-size: 1.4rem;
  margin: 1rem 1rem 0.3rem 1rem;
  cursor: pointer;
  color: var(--aya-text-color);
} 

#aya-num {
  color: white;
  background: #A0522D;
  border-radius: 10px;
}

@media screen and (max-width: 768px), (max-width: 1024px) {
  #nextayah {
    font-size: 1.1rem;
  }
  
  .nextayah {
    width: 40%;
    transform: translateY(-7.5px);
  }
  
  #wrapper {
    width: 90%;
    padding: 0.5rem;
    transform: translateY(-60px);
    gap: 0.3rem;
  }
  
  #aya {
    font-size: 1.3rem;
  }
  
  .aya {
    overflow-y: scroll;
    background: #ffffff;
    max-height: 270px;
    width: 95%;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background: var(--highlight-bg-color);
    box-shadow: var(--highlight-shadow);
  }
  
  #head {
    font-size: 1.2rem;
  }
  
  #butn {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
  }
  
  #tafsir {
    font-size: 15px;
    max-height: 100px;
    background-color: var(--highlight-bg-color);
    box-shadow: var(--highlight-shadow);
  }
  
  #tafasir > button {
    font-size: 1rem;
  }
  
  #theme {
    top: 10px;
    left: 10px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx) {
  body {
    zoom: 0.8; /* Scale the content to 80% */
  }

  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  body {
    zoom: 0.67; /* Scale the content to 67% */
  }
  
  #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
